.idea/
.DS_Store
__pycache__
SVM/Super_Interpolation/Data/Testing/
SVM/Super_Interpolation/result/
SVM/Super_Interpolation/results/
SVM/GAN/data/
SVM/GAN/images/
SVM/fine_tuning/data/
SVM/fine_tuning/models/
SVM/vggnet/data/
deep_learning_practice/mnist_classifier/checkpoint/
deep_learning_practice/mnist_classifier/MNIST/
deep_learning_practice/unet/datasets/